<div class="details-section">
	{{> "stonetop.section-heading"
	    title=(localize "stonetop.character.selection.instinct.label")
	    note=(localize "stonetop.character.selection.chooseOne")}}
	<input type="text" class="stonetop-instinct-custom" data-change-action="instinctCustom"
	       value="{{instinctSelected}}"
	       placeholder="{{localize "stonetop.character.selection.instinct.customPlaceholder"}}">
	{{#if instinctGroup}}
	<div class="stonetop-choice-entry stonetop-instinct-options" data-slug="{{instinctGroup.slug}}">
		{{#each instinctGroup.list}}
		{{> "stonetop.choice-row" radio=true namePrefix=../namePrefix cgContext=../cgContext cgGroup=../instinctGroup.slug}}
		{{/each}}
	</div>
	{{/if}}
</div>
