<div class="stonetop-move-group">
	{{> "stonetop.section-heading" title=title note=note}}
	<ol class="items-list">
	{{#each moves}}
		{{#if (and (gt selection.value 0) rollStat)}}
		<li class="item stonetop-item{{#if isStarting}} move-starting{{/if}}" data-item-id="{{ownedId}}">
		{{else}}
		<li class="stonetop-item{{#if isStarting}} move-starting{{/if}}">
		{{/if}}
			{{> "stonetop.move-item" showCheck=true categoryKey=../categoryKey allowAdditional=../allowAdditional}}
		</li>
	{{/each}}
	</ol>
</div>
