<h3 class="stonetop-move-group-title">{{rich title}}{{#if (hasText note)}} <span class="stonetop-section-note">{{rich note}}</span>{{/if}}</h3>
<div class="stonetop-panel-divider" aria-hidden="true"></div>
