<div class="tab moves {{tabs.moves.cssClass}}" data-group="primary" data-tab="moves">
	<section class="sheet-tab">

		{{#each stonetop.moves.categories}}
		{{#if (eq renderStyle "standard")}}
		{{> "stonetop.move-group" title=label note=note moves=moves categoryKey=key allowAdditional=allowAdditional}}
		{{/if}}
		{{/each}}

	</section>
</div>
