<div class="tab followers {{tabs.followers.cssClass}}" data-group="primary" data-tab="followers">

	{{#unless stonetop.followers.length}}
	<p class="stonetop-followers-empty">{{localize "stonetop.followers.empty"}}</p>
	{{/unless}}

	<div class="stonetop-followers-grid">
	{{#each stonetop.followers}}
	{{> "stonetop.follower-card" this showDelete=true}}
	{{/each}}
	</div>

	<button type="button" class="stonetop-follower-add" data-action="addFollower">
		<i class="fas fa-plus"></i> {{localize "stonetop.followers.add"}}
	</button>

</div>
